:root {
    --black: rgb(51, 51, 51);
    --blue: rgba(96, 163, 188, 1.0);
    --blue-light: rgba(96, 163, 188, 0.25);
    --green: rgba(46, 204, 113, 1.0);
    --green-light: rgba(46, 204, 113, 0.25);
    --yellow: rgba(251, 197, 49, 1.0);
    --yellow-light: rgba(251, 197, 49, 0.25);
    --orange: rgba(230, 126, 34, 1.0);
    --orange-light: rgba(230, 126, 34, 0.25);
    --red: rgba(231, 76, 60, 1.0);
    --red-light: rgba(231, 76, 60, 0.25);
}

/*
 * Base Styles
 * Typography
 */
html, body {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
    color: var(--black);
}

body {
    min-height: 100vh;
    box-sizing: border-box;
    max-width: 900px;
    margin: 0;
}

header {
    background-color: rgba(236, 240, 241, 1.0);
    padding: 0.5rem;
}

main {
    margin-top: 1rem;
    padding: 0 0.25rem;
}

footer {
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid lightgray;
}

h1, h2 {
    margin: 0;
}

a {
    color: var(--blue);
    text-decoration: none;
}

/**
 * TABLES
 **/
thead { text-align: left; }
td:not(last-of-type) { padding-right: 0.25rem; }


/**
 * LAYOUTS
 **/
.flex-apart {
    gap: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column-to-row {
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.row-to-column {
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.center {
    align-items: center;
}

.chartContainer { max-width: 100%; }

@media (min-width: 800px) {
    .column-to-row { flex-direction: row; }
    .row-to-column { flex-direction: column; }
}


/*
 * Home Page
 */
.DayGrid {
    border-radius: 0.25rem;
    overflow: hidden;
    border: 1px solid var(--blue);
    margin-bottom: 0.25rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr auto auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "Date Date Date"
    "Plan Plan Plan"
    "Note Note Note"
    "Activities Activities Activities";
}
@media (min-width: 800px) {
    .DayGrid {
        grid-template-areas:
            "Date Date Date"
            "Plan Activities Activities"
            "Note Activities Activities";
    }
    .Plan,.Note { border-right: 1px solid var(--blue); }
}

.Date {
    grid-area: Date;
    grid-area: Date;
    font-weight: 900;
    color: var(--black);
    background-color: var(--blue);
    padding: 0.25rem;
}
.Plan { grid-area: Plan; }
.Note { grid-area: Note; }
.Activities { grid-area: Activities; overflow-x: auto; }
.Plan,.Note,.Activities { padding: 0.25rem; }
.Note p { margin: auto auto 0 auto; }

.ActivityGrid {  display: grid;
  grid-template-columns: 3fr repeat(5, 5rem);
  grid-template-rows: auto auto;
  gap: 3px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "Name Stat1 Stat3 Stat5 Stat7 Actions"
    "Name Stat2 Stat4 Stat5 Stat8 Actions";
}
.ActivityGrid:not(:last-of-type) { border-bottom: 1px solid var(--blue); }
.Name {
    grid-area: Name;
    width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.Stat1 { grid-area: Stat1; }
.Stat2 { grid-area: Stat2; }
.Stat3 { grid-area: Stat3; }
.Stat4 { grid-area: Stat4; }
.Stat5 { grid-area: Stat5; }
.Stat6 { grid-area: Stat6; }
.Stat7 { grid-area: Stat7; }
.Stat8 { grid-area: Stat8; }
.Actions {
    grid-area: Actions;
    align-self: center;
    justify-self: center;
}

@media (min-width: 800px) {
    .Name { width: unset; max-width: 100%; }
    .ActivityGrid { padding-bottom: 0.1rem; gap: 0px 0px; }
}


/* 
 * Activity Page
 */
.laps-and-map {
    display: flex;
    flex-direction: column;
}

.laps-container {
    max-height: 400px;
    position: relative;
    overflow-y: auto;
    overflow-x: auto;
}

#Map {
    height: 400px;
    width: 100%;
}

.hr-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    font-weight: 700;
    color: white;
    font-size: 0.75rem;
}

.hr-bar div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hr-bar .Z1 {
    background-color: var(--blue);
}

.hr-bar .Z2 {
    background-color: var(--green);
}

.hr-bar .Z3 {
    background-color: var(--yellow);
}

.hr-bar .Z4 {
    background-color: var(--orange);
}

.hr-bar .Z5 {
    background-color: var(--red);
}

@media (min-width: 800px) {
    .laps-and-map {
        flex-direction: row;
        max-height: 400px;
    }
    .laps-container { width: -webkit-fill-available; }
}

/**
 * TAGS
 **/
.tag {
    border-radius: 0.25rem;
    color: black;
    padding: 0.1rem 0.2rem;
    font-size: small;
    display: inline-block;
    margin: 0.1rem 0 0.25rem 0;
}

.tag.t1 {
    background-color: var(--green);
    color: white;
}

.tag.t2 {
    background-color: var(--blue);
    color: white;
}

.tag.t3 {
    background-color: var(--yellow);
    color: black;
}

.tag.t4 {
    background-color: var(--orange);
    color: black;
}

.tag.t5 {
    background-color: var(--red);
    color: black;
}

/**
 * ALERTS
 **/
.alert {
    display: block;
    max-width: calc(100% - 1rem);
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    margin: 0 auto 1rem auto;
    width: auto;
    box-sizing: border-box;
}

.alert p {
    margin: 0;
    display: inline-block;
    background-color: var(--yellow-light);
}

@media (min-width: 800px) {
    .column-to-row { flex-direction: row; align-items: center; }
    .flex-wrap {
        flex-direction: row;
    }
    .flex-apart.static {
        flex-direction: row;   
    }

    .chartContainer {
        width: 50%;
        margin-top: 0;
    }
    body { margin:auto; }
}